## Jocelin Liteanu - Object Oriented Python

In [28]:
import numpy as np
import pandas as pd

from astropy import units as u
from astropy import constants as const

### All calculations should be done in this cell!

In [44]:
class SpaceRock(object):
    
    def __init__(self, name = None, ab_mag = None, albedo = None):
        
        self.name = name
        self.ab_mag = ab_mag
        self.albedo = albedo
        
    def diameter(self):
        result = (1329.0 / np.sqrt(self.albedo)) * (10 ** (-0.2 * self.ab_mag))
        return result * u.km
    
    def mass(self):
        result = (3000 *u.kg/u.m**3 * np.divide(np.pi, 6)) * (self.diameter()**3)
        return result.decompose()

### Read in the datafile `./Data/MainBelt.csv`

In [30]:
!ls Data/MainBelt.csv

Data/MainBelt.csv

In [31]:
!cat Data/MainBelt.csv

WARNING: Some output was deleted.

In [45]:
cols = ["Name", "Magnitude", "Albedo"]

data_table = pd.read_csv('./Data/MainBelt.csv', comment = "#", header = None, names = cols)
data_table

,Name,Magnitude,Albedo
0,1 Ceres,3.34,0.0900
1,2 Pallas,4.13,0.1587
2,3 Juno,5.33,0.2383
3,4 Vesta,3.20,0.4228
4,5 Astraea,6.85,0.2268
5,6 Hebe,5.71,0.2679
6,7 Iris,5.51,0.2766
7,8 Flora,6.49,0.2426
8,9 Metis,6.28,0.1180
9,10 Hygiea,5.43,0.0717
10,11 Parthenope,6.55,0.1803
11,12 Victoria,7.24,0.1765
12,13 Egeria,6.74,0.0825
13,14 Irene,6.30,0.1590
14,15 Eunomia,5.28,0.2094
15,16 Psyche,5.90,0.1203
16,17 Thetis,7.76,0.1715
17,18 Melpomene,6.51,0.2225
18,19 Fortuna,7.13,0.0370
19,20 Massalia,6.50,0.2096
20,21 Lutetia,7.35,0.2212
21,22 Kalliope,6.45,0.1419
22,23 Thalia,6.95,0.2536
23,24 Themis,7.08,0.0670
24,25 Phocaea,7.83,0.2310
25,26 Proserpina,7.40,0.1966
26,27 Euterpe,7.00,0.1620
27,28 Bellona,7.09,0.1763
28,29 Amphitrite,5.85,0.1793
29,30 Urania,7.57,0.1714
...,...,...,...
1996,21792 (1999 ST7),13.10,0.0554
1997,21967 (1999 WS9),12.20,0.0690
1998,22097 (2000 BH4),12.20,0.0317
1999,22147 (2000 WP32),13.40,0.0292
2000,22464 (1997 AG14),13.00,0.0828
2001,22805 (1999 RR2),12.50,0.1352
2002,22955 (1999 TH251),12.90,0.0304
2003,23059 Paulpaino (1999 XT45),14.50,0.0146
2004,23099 (1999 XA160),11.60,0.0443
2005,23103 (1999 XK169),12.90,0.0436
2006,23129 (2000 AO100),11.90,0.0601
2007,23167 (2000 GL124),13.00,0.1437
2008,23956 (1998 VD9),13.00,0.0531
2009,23977 (1999 GW6),13.00,0.0425
2010,24013 (1999 RR113),13.10,0.1282
2011,24035 (1999 SJ2),14.10,0.0512
2012,24127 (1999 VZ52),11.40,0.0851
2013,24388 (2000 AB175),11.90,0.0374
2014,24980 (1998 KF2),13.70,0.0871
2015,25000 Astrometria (1998 OW5),12.60,0.0311
2016,25343 (1999 RA44),14.20,0.0252
2017,25453 (1999 XU11),12.50,0.0957
2018,25699 (2000 AD127),12.60,0.0346
2019,25785 (2000 CY45),13.40,0.0238
2020,25843 (2000 EQ84),13.30,0.0167
2021,26125 (1992 RG),13.00,0.0975
2022,26171 (1996 BY2),14.00,0.0480
2023,26260 (1998 RA2),13.30,0.0670
2024,26604 (2000 FO25),12.80,0.4331
2025,26662 (2000 WB181),14.50,0.0186

In [46]:
my_name = data_table['Name'].values
my_ab_mag = data_table['Magnitude'].values
my_albedo = data_table['Albedo'].values

rocks = SpaceRock(name=my_name,
                  ab_mag=my_ab_mag,
                  albedo=my_albedo)

In [47]:
rocks.diameter()

In [48]:
rocks.mass()

In [71]:
rocks.mass()[0:4]

In [141]:
more_rocks = np.sort(rocks.mass()[-5:])
more_rocks

## List the names of the 5 most massive MBAs

 * Only formatting and output - no calculations!
 * Make sure you use units.
 * Express your answer in SI units with 2 digits after the decimal.
 * The output should be a series of lines like:
   * `At number N is NAME with a mass of MASS kg`

In [142]:
for idx,value in enumerate(np.sort(rocks.mass()[-5:])):
    
    rock_name = rocks.name[idx]
    
    my_string = ("At number {0:d}, is {1}, with a mass of {2:.2f}"
                .format(idx+1,rock_name,value))
   
    print(my_string)

At number 1, is      1 Ceres, with a mass of 270279149887835.84 kg
At number 2, is      2 Pallas, with a mass of 1395831400001323.75 kg
At number 3, is      3 Juno, with a mass of 1919499027010081.25 kg
At number 4, is      4 Vesta, with a mass of 2226294512353730.00 kg
At number 5, is      5 Astraea, with a mass of 2900183006796756.00 kg

## Due Wed Jan 31 - Noon
- `Make sure to change the filename to your name!`
- `Make sure to change the Title to your name!`